* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
}

ul,
ol {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}
