<<<<<<< HEAD
.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dedede;
  height: 90px;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 30px 20px;
  background-color: aquamarine;
}
=======
.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dedede;
  height: 90px;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 30px 20px;
  background-color: aquamarine;
}
>>>>>>> bbba67032a051d9dc382c3f3a33783bd61dd76ec
